.basket_background{
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000073;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket_window{
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    z-index: 200;
}


.basket_window_top_close {
    background-color: #000;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 26px;
}


.basket_window_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #000;
    background-color: #000;
    color: #fff;
}

.basket_window_top_title{
    font-size: 20px;
    font-weight: 600;
}

.basket_window_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 250px;
}

.basket_window_content_item_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: center;
}

.basket_window_content_item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    align-items: center;
}

.icon{
    font-size: 20px;
    cursor: pointer;
}

.number_select{
    text-align: center;
    font-size: 20px;
    width: 50px;
}

.basket_window_bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #000;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.basket_window_bottom_total {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.basket_window_bottom_button{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    background-color: #000;
    color: white;
    padding: 10px;
    width: 100px;
}

.basket_window_bottom_total{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}