@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
}

.navbar{
    display: flex;
    /* height: 150px; */
    width: 100vw;
    flex-direction: column;
    margin: 10px 0 0 0;
    z-index: 100;
background-color: rgb(255, 255, 255);
    /* bordershadow bottom pour la nav bar */
    /* box-shadow: -2px 10px 11px -5px #000000 */
}

.navbar_container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
        font-size: 1.5rem;
            text-transform: uppercase;
            /* border-bottom: 2px solid black; */
            font-family: 'Cormorant Garamond', serif;
            color: #cbc3af;

}

.navbar_logo{
    height: 70px;
    width: auto;
    object-fit: cover;
}

.navbar_logo:hover{
    cursor: pointer;
}


.navbar_menu_centre{
    display: flex;
    justify-content: space-around; 
    gap: 20px;
}

.navbar_menu_droit{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 10px;
                color: #000000;
}

.navbar_menu_item{
    /* padding: 0 2px; */
}

.navbar_menu_item:hover{
    color: #5c5755;
    cursor: pointer;
}

.navbar_category_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    /* background-color: #e9e1c8; */
    color: rgb(0, 0, 0);
    z-index: 1;
    gap: 5%;
    border-top: 1px solid black;
                border-bottom: 1px solid black;
}

.navbar_category_item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.navbar_category_item:hover{
    cursor: pointer;
    background-color: rgb(73, 73, 73);

}

#hmbg_item{
    display: none;
}

/* breakpoint qui cache navbar_menu_centre en dessous de 1000px */

@media screen and (max-width: 1000px){
    .navbar_menu_centre{
        display: none;
    }
    .navbar_category_container{
        display: none;
    }
    .navbar_container{
        justify-content: space-around;
    }
    #hmbg_item{
        display: block;
    }
}