/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: Poppins, sans-serif; */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}


body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #ffffff;
}

h2{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link{
    text-decoration: none;
    color: inherit
}

.link:visited{
    color: inherit;
}

#ReactSimpleImageViewer{
    background-color: rgb(255, 255, 255);
}

.styles-module_navigation__1pqAE{
    color: black!important;
    opacity: 0.6!important;
}
.styles-module_close__2I1sI{
    color: black !important;
    opacity: 0.6 !important;
}

html,
body {
    height: 100%;
}